<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.harasoft.relaunch"
      android:versionName="1.4.4" android:versionCode="100404000">
    <uses-sdk android:minSdkVersion="7"
              android:maxSdkVersion="19"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" />  
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".ReLaunchApp" android:allowBackup="true">

        <activity android:name=".Home"
                  android:launchMode="singleInstance"
                  android:stateNotNeeded="true"
                  android:exported="true"
				  android:configChanges="orientation|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.bn.intent.action.home" />
                <action android:name="com.bn.intent.action.library"/>
                <action android:name="com.bn.intent.action.shop" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="quicknav.view" android:value="true" />
        </activity>

        <activity android:name=".Main"
                  android:launchMode="singleInstance"
                  android:stateNotNeeded="true"
                  android:label="@string/app_name"
				  android:configChanges="orientation|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
       </activity>

       <activity android:name="ReLaunch"
				android:configChanges="orientation|locale">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
       <activity android:name="Advanced"
				android:configChanges="orientation|locale">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
       <activity android:name="AllApplications"
				android:configChanges="orientation|locale">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="TypesActivity"
					android:configChanges="orientation|locale">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="PrefsActivity"
                  android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
                  android:configChanges="orientation|locale">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="SearchActivity"
				android:configChanges="orientation|locale">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="ResultsActivity"
					android:configChanges="orientation|locale">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="FiltersActivity"
					android:configChanges="orientation|locale">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="TaskManager"
					android:configChanges="orientation|locale">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="Viewer"
					android:configChanges="orientation|locale">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="Editor"
					android:configChanges="orientation|locale">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".DropBoxActivity"
                  android:configChanges="orientation|locale"/>
        <activity
                android:name="com.dropbox.client2.android.AuthActivity"
                android:launchMode="singleTask"
                android:configChanges="orientation|keyboard|locale">
            <intent-filter>
                <data android:scheme="db-2vfpyoojj4rsi5t" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".OPDSActivity"
                  android:label="OPDSActivity"
                  android:configChanges="orientation|locale">
        <intent-filter>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>
 <activity android:name=".DropboxSelect"/>
        <activity android:name=".ExtendedInfoBook"/>
        <activity android:name=".PanelSettingsActivity"/>
        <activity android:name=".ScreenSettingActivity"/>
        <activity android:name=".NookShadowSettings"/>
        <activity android:name=".ButtonSettingActivity"/>
    </application>
</manifest>
